@font-face {
            src: url('./fonts/AdorableMommia.otf');
            font-family: AdorableMommia;}
@font-face {
            src: url('./fonts/Andaresta_Demo.ttf');
            font-family: Andaresta_Demo;}
@font-face {
            src: url('./fonts/Backline.otf');
            font-family: Backline;}
@font-face {
            src: url('./fonts/CallingHeart.ttf');
            font-family: CallingHeart;}
@font-face {
            src: url('./fonts/CatalishHuntera.otf');
            font-family: CatalishHuntera;}
@font-face {
            src: url('./fonts/Fishtail.ttf.ttf');
            font-family: Fishtail;}
@font-face {
            src: url('./fonts/Flower.ttf');
            font-family: Flower;}
@font-face {
            src: url('./fonts/HalycoonScript.ttf');
            font-family: HalycoonScript;}
@font-face {
            src: url('./fonts/Harland Roselyn.ttf');
            font-family: Harland Roselyn;}
@font-face {
            src: url('./fonts/Hello Valentina.ttf');
            font-family: Hello Valentina;}
@font-face {
            src: url('./fonts/Muthiara.otf');
            font-family: Muthiara;}
@font-face {
            src: url('./fonts/Sarllina.ttf');
            font-family: Sarllina;}
@font-face {
            src: url('./fonts/SintaScript.otf');
            font-family: SintaScript;}
@font-face {
            src: url('./fonts/SouthGate.ttf');
            font-family: SouthGate;}
@font-face {
            src: url('./fonts/SummerDaisy.ttf');
            font-family: SummerDaisy;}
@font-face {
            src: url('./fonts/TheBoldStyleRegular.ttf');
            font-family: TheBoldStyleRegular;}
