@font-face {
            src: url('./fonts/imprenta/Academic M54.ttf');
            font-family: Academic M54;}
@font-face {
            src: url('./fonts/imprenta/Acids.otf');
            font-family: Acids;}
@font-face {
            src: url('./fonts/imprenta/Averus (DEMO).otf');
            font-family: Averus (DEMO);}
@font-face {
            src: url('./fonts/imprenta/Avigea.ttf');
            font-family: Avigea;}
@font-face {
            src: url('./fonts/imprenta/Avocado Cake Demo.otf');
            font-family: Avocado Cake Demo;}
@font-face {
            src: url('./fonts/imprenta/BAUHS93.ttf');
            font-family: BAUHS93;}
@font-face {
            src: url('./fonts/imprenta/Better Together Caps.ttf');
            font-family: Better Together Caps;}
@font-face {
            src: url('./fonts/imprenta/Blakecats.otf');
            font-family: Blakecats;}
@font-face {
            src: url('./fonts/imprenta/Bloomer DEMO.otf');
            font-family: Bloomer DEMO;}
@font-face {
            src: url('./fonts/imprenta/Bubblegum.ttf');
            font-family: Bubblegum;}
@font-face {
            src: url('./fonts/imprenta/Candy Beans.otf');
            font-family: Candy Beans;}
@font-face {
            src: url('./fonts/imprenta/CFJackStory-Regular.ttf');
            font-family: CFJackStory-Regular;}
@font-face {
            src: url('./fonts/imprenta/Dashing Unicorn.ttf');
            font-family: Dashing Unicorn;}
@font-face {
            src: url('./fonts/imprenta/Florida.otf');
            font-family: Florida;}
@font-face {
            src: url('./fonts/imprenta/FRESH FOOD.otf');
            font-family: FRESH FOOD;}
@font-face {
            src: url('./fonts/imprenta/GROBOLD.ttf');
            font-family: GROBOLD;}
@font-face {
            src: url('./fonts/imprenta/HEAVYHEA.TTF');
            font-family: HEAVYHEA;}
@font-face {
            src: url('./fonts/imprenta/Hello Sunshine.otf');
            font-family: Hello Sunshine;}
@font-face {
            src: url('./fonts/imprenta/ICE CREAM SODAWATER 02.ttf');
            font-family: ICE CREAM SODAWATER 02;}
@font-face {
            src: url('./fonts/imprenta/ICE CREAM SODAWATER 03.ttf');
            font-family: ICE CREAM SODAWATER 03;}
@font-face {
            src: url('./fonts/imprenta/Kid Marker.ttf');
            font-family: Kid Marker;}
@font-face {
            src: url('./fonts/imprenta/Magical Snow.ttf');
            font-family: Magical Snow;}
@font-face {
            src: url('./fonts/imprenta/Make Me Happy.otf');
            font-family: Make Me Happy;}
@font-face {
            src: url('./fonts/imprenta/Minecrafter1.ttf');
            font-family: Minecrafter1;}
@font-face {
            src: url('./fonts/imprenta/Minecrafter2.ttf');
            font-family: Minecrafter2;}
@font-face {
            src: url('./fonts/imprenta/PumpkinCheesecake.otf');
            font-family: PumpkinCheesecake;}
@font-face {
            src: url('./fonts/imprenta/Signboard.ttf');
            font-family: Signboard;}
@font-face {
            src: url('./fonts/imprenta/Squirk.otf');
            font-family: Squirk;}
@font-face {
            src: url('./fonts/imprenta/SUBSCRIBER-Regular.otf');
            font-family: SUBSCRIBER-Regular;}
@font-face {
            src: url('./fonts/imprenta/SugarpunchDEMO.otf');
            font-family: SugarpunchDEMO;}
@font-face {
            src: url('./fonts/imprenta/Sunrise International Demo.otf');
            font-family: Sunrise International Demo;}
